[Unit]
Description=Dynamic Intel RAPL PL1 controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rapl-pl1-linear.sh --no-output
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
